@keyframes showCard {
  0% {
    opacity: 0;
    transform: rotateY(-80deg);
  }

  13% {
    opacity: 1;
    transform: rotateY(-70deg);
  }

  25% {
    opacity: 1;
    transform: rotateY(-60deg);
  }

  35% {
    opacity: 1;
    transform: rotateY(-50deg);
  }

  50% {
    opacity: 1;
    transform: rotateY(-40deg);
  }

  65% {
    opacity: 1;
    transform: rotateY(-30deg);
  }

  80% {
    opacity: 1;
    transform: rotateY(-20deg);
  }

  95% {
    opacity: 1;
    transform: rotateY(-10deg);
  }

  100% {
    opacity: 2;
    transform: rotateY(0deg);
  }
}
    @keyframes leftIn {
      0% {
        opacity: 0;
      }

      12% {
        font-size: 52px;
        color: rgb(161, 161, 161);
      }

      25% {
        font-size: 62px;
        color: rgb(119, 118, 118);
      }

      35% {
        font-size: 72px;
        color: rgb(107, 105, 105);

      }

      50% {
        font-size: 82px;
        font-weight: 700;
        color: rgb(68, 66, 66);

      }

      65% {
        font-size: 82px;
        font-weight: 700;
        color: rgb(107, 105, 105);

      }

      75% {
        font-size: 82px;
        font-weight: 700;
        color: rgb(100, 99, 99);
      }

      90% {
        font-size: 82px;
        font-weight: 700;
        color: rgb(78, 77, 77);
      }

      100% {
        font-size: 82px;
        font-weight: 700;
        color: rgb(29, 28, 28);
      }
    }

    .fadeInDown {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      transition-delay: 3s;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    @-webkit-keyframes fadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
      }

      100% {
        opacitX: 1;
        -webkit-transform: none;
        transform: none;
      }
    }

    @keyframes fadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
      }

      100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }

    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-moz-keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .fadeIn {
      opacity: 0;
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s;
    }

    .fadeIn.first {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }

    .fadeIn.second {
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    .fadeIn.third {
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }

    .fadeIn.fourth {
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
    }
$Width: 1127px;
@mixin mobile {
  @media (max-width:#{$Width}) {
    @content;
  }
}

